---
import '../styles/p3.css'
import '../pages/projects.astro'
// import '../script/p3.js'


---
<!DOCTYPE html> 
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon-16x16.png">
  <title>Personal Website</title>
  <!-- <link rel="stylesheet" href="../p3.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Roboto&display=swap" rel="stylesheet">
     
</head>
<body>
   

<div class="grid-container">

  <header class="header">
  
  		<nav>
     <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/projects/">Projects</a></li>



            <div class="search">
              <form action="/project4.html" method="get">

                <input class="search-form" type="search" placeholder="search">
                <button class="btn btn-outline-primary" type="submit">search</button>
                <img src="/sun.png" id="mode-toggle" alt="" > 
               
               
              </form>
            </div>
           
          
     </ul>
  
    <!-- <div class="search">
      <form action="/project2.html" method="get">
      
       <input type="text" name="search" name="search">
       <input type="submit" name="search" value="search">  
      </form>
    </div>
    -->
      </nav>
    </header>
     
      <div class="personal">	
      
    
          <h1>Personal Website</h1>
      </div>
      
    
 
  <main class="main"><h2>Introduction:</h2>
  <img src="/sh.JPG" alt="shafa" width="300" height="300">

    <p> Hello everyone. Welcome to my website. let me introduce you. my name is shafa and I am interested in technology which is why I started learning coding. This landing page is about soccer blog that focuses on European Soccer.

   </p>  
  
  
  
  
  <section><h3>About me</h3>
    <div class="fade-in-right">
    <article>
      <p>I come from Somalia and I have been living in Portland Oregon since 2016. About three years ago, I started working for <a href="https://aws.amazon.com/developer/">Amazon</a> where I got to working with a lot of people with different background.</p>
      <p class="box">I have been working fro Amazon for a while. One of the reason I am working at Amazon is that the work environment is flexible. </p>
    </article>
    </div>
 

  <h4>Blog 1</h4>
  <p>The main purpose of this blog is to share articles about sports particularly european sports. Including English Premier Leauge, Laliga, Seri A, and Bundisliga.
   Most importantly the best competion in the whole Eurpe  Eupean Champion League (UFCL) which a tournment that hosts most of these elite clubs.</p>
  <p>Recently, many of the Soccer players transfered into Major Leauge Soccer here in America (MLS).
   Players such as Leonel Messi, Jordi Alba, and Sergio Busquest transfered to International Miami in florida.
   These are former Barcelona Players; therefore, the blog will highlight the MLS too.</p>

    <h4>Blog 2</h4>
    <p>For the last three weeks, I have been studying sofware develpment or Web development at Correlation One focusing in HTML and CSS.</p>
    <p>It has been an eye opening experience active learning, which is something I have done before. 
      I am taking this opportunity to gain skills that you will definately see from my website.
    </p>
    

  </section>
  
   </main >


   <!-- slide and fade in right -->

   <div class="container">
 <section class="item">

        <div class="div"><h2>The skills I developed so far:</h2> </div>
        <div class="pic"></div>
   
 </section>
 <section class="item left">
   <div class="item__content">
     
     <img src="/html5.jpg" alt="oregon"> 
    </div>
 </section>
 <section class="item right">
   <div class="item__content">
   
     <img src="/css.jpg" alt="oregon">

   </div>
 </section>
 <section class="item left">
   <div class="item__content">
    
     <img src="/javascript.jpg" alt="oregon">

   </div>
 </section>
 <section class="item right">
   <div class="item__content">
    
     <img src="/w.jpg" alt="oregon">

   </div>
 </section>
</div>

  
  
    <div class="form">
  
     <h5> Contact Me:</h5>

    <form action="/action_page.html" method="get">
      <label for="text" id="fname" >Fist name:</label>
      <input type="text" name="fname"><br>
      <label for="text" id="lname" >last name:</label>
      <input type="text" name="lname"><br>
      <label for="number" id="tell">Phone number:</label>
      <input type="number" name="phone"><br>

      <label for="email">Enter email addresses:</label>
      <input type="text" id="email" name="email">

      <input type="submit" value="Submit">
      
      </form>

    </div>
    </div>

    

    <div class="footer">
    
      <a href="https://www.linkedin.com/?original_referer=" target="_blank">linkedin </a>
      <a href="https://www.facebook.com" target="_blank">Facebook </a>
    

    </div>



<!-- <style src="p3.css"></style> -->
 <script src="../script/p3.js"></script>
  </body>

  </html> 

